body{
    background: whitesmoke;
}
.navbar{
    margin: 30px;
    padding: 15px;
    background: #dde1e7;
    box-shadow: inset 5px 5px 10px #bababa, 
                inset -5px -5px 10px #ffffff;
}
.navbar:hover{
  background: #dde1e7;
  box-shadow: inset -2px -2px 3px #919191, 
  inset 3px 3px 3px #ffffff;
                
}
.nav-link{
    border-radius: 50%;
    justify-content: center;
    width: 100px;
    height:100px;
    margin-left: 30px;;
    background: #dde1e7;
    box-shadow: inset 5px 5px 10px #bababa, 
                inset -5px -5px 10px #ffffff;
}
.nav-link:hover{
  background: #dde1e7;
  box-shadow: inset -2px -2px 3px #919191, 
  inset 3px 3px 3px #ffffff;
              
}
.nav-item{
    margin: 10px;
}
.nav-item h5{
    height: 45px;
    width:150px; 
    padding: 10px;
    border-radius: 20px;
    background: #dde1e7;
    box-shadow:  -2px -2px 3px #919191, 
                 3px 3px 3px #ffffff;

}
.nav-item h5:hover{
    background: #dde1e7;
    box-shadow: inset -2px -2px 3px #919191, 
    inset 3px 3px 3px #ffffff;
}
.nav-item h2{
  height: 60px;
  width:fit-content; 
  padding: 10px;
  border-radius: 20px;
  background: #dde1e7;
  box-shadow:  -2px -2px 3px #919191, 
               3px 3px 3px #ffffff;

}
.nav-item h2:hover{
  background: #dde1e7;
  box-shadow: inset -2px -2px 3px #919191, 
  inset 3px 3px 3px #ffffff;
}
.container{
    margin-top: 50px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 1100px;
    background: #dde1e7;
  }
  .container .card{
    width: 320px;
    margin: 20px;
    padding: 40px 30px;
    background: ebf5fc;
    border-radius: 40px;;
    background: #dde1e7;
    box-shadow: inset 5px 5px 10px #bababa, 
                inset -5px -5px 10px #ffffff;
  }
  
  .container .card:hover{
    background: #dde1e7;
    box-shadow: inset -2px -2px 3px #919191, 
    inset 3px 3px 3px #ffffff;
                 
  }
  .container .card .imgbx{
  position: relative;
  text-align: center;
  
  }
  .container .card .imgbx img{
  max-width: 120px;
  background: #dde1e7;
  box-shadow: inset 5px 5px 10px #bababa, 
              inset -5px -5px 10px #ffffff;
  }
  .container .card .imgbx img:hover{
    background: #dde1e7;
    box-shadow: inset -2px -2px 3px #919191, 
    inset 3px 3px 3px #ffffff;
  }
  .container .card .content{
    position: relative;
    margin-top: 20px;
    text-align: center;
  }
  .container .card .content h2{
    color: #32a3b1;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 2px;
  
  }
  .container .card .content p{
    color: #32a3b1;
  }  

.carousel
{
    margin: 20px;
    padding: 10px;
    background: #dde1e7;
    box-shadow: inset 5px 5px 10px #bababa, 
                inset -5px -5px 10px #ffffff;
}

.carousel:hover
{
  background: #dde1e7;
  box-shadow: inset -2px -2px 3px #919191, 
  inset 3px 3px 3px #ffffff;
}
.carousel-inner
{
  background: #dde1e7;
  box-shadow: inset 5px 5px 10px #bababa, 
              inset -5px -5px 10px #ffffff;
                
}

.carousel-inner:hover
{
  background: #dde1e7;
  box-shadow: inset -2px -2px 3px #919191, 
  inset 3px 3px 3px #ffffff;
}
.carousel-item
{
  background: #dde1e7;
  box-shadow: inset 5px 5px 10px #bababa, 
              inset -5px -5px 10px #ffffff;
                
}

.carousel-item:hover
{
  background: #dde1e7;
  box-shadow: inset -2px -2px 3px #919191, 
  inset 3px 3px 3px #ffffff;
}
.d-block
{
  background: #dde1e7;
  box-shadow: inset 5px 5px 10px #bababa, 
              inset -5px -5px 10px #ffffff;
}

.d-block:hover
{
  background: #dde1e7;
  box-shadow: inset -2px -2px 3px #919191, 
  inset 3px 3px 3px #ffffff;
}